<!DOCTYPE html>
<html>
<head>
	<title>Homepage</title>
	<link rel="stylesheet" href="/css/bootstrap.css"/>
    <script src='../javascript/authentication_ajax.js'></script>
    <script src='../javascript/user_actions_ajax.js'></script>
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
	<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <link rel="stylesheet" href="/css/style.css"/> 
</head>
<body class='text-center' onload="javascript:fetchCars()">
	<p id='greetings'>
		<h1 align='left'>CARS
			<button class="butn butn-logout " type="button" onclick="location.href='logout'">Log out</button>
		</h1>
	</p>
	<div id='error_msg' class='text-center'></div>
	<div id="carlist"></div>
	<div data-role="popup" id="bookpopup" class="ui-content" style="min-width:250px;">
      <form \>
        <h3>Booking information</h3>
	    <label for="location" class="sr-only">Location</label>
	    <input type="text" name="location" id="location" class="form-control" placeholder="Location" required>
	    <label for="hireDate"class="sr-only">Hire Date</label>
	    <input type="date" name="hireDate" id="hireDate" class="form-control" placeholder="Hire Date" required>
	    <label for="returnDate" class="sr-only">Return Date</label>
	    <input type="date" name="returnDate" id="returnDate" class="form-control" placeholder="Return Date" required>
	    <button class="btn btn-lg btn-primary btn-block" type="button" onclick="javascript:bookCar();">Book Now</button>
      </form>
    </div>
	<
</body>
</html>