<!DOCTYPE html>
<html>
<head>
  <title>Index Page</title>
  <link rel="stylesheet" href="/css/bootstrap.css"/>
    <script src='../javascript/authentication_ajax.js'></script>
    
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <link rel="stylesheet" href="/css/style.css"/>
</head>
<body class='text-center'>
	<h2 style="font-style: oblique">Welcome to CarlEASE!</h2>
	<p><strong>New to this website?</strong></p>
	<button style="margin: 20px" class="butn" type="button" onclick="location.href='./signup'">Register</button>
	<p><strong>Already a user?</strong></p>
	<button style="margin: 20px" class="butn" type="button" onclick="location.href='./login'">Log In</button>
	<p><strong>Are you an Admin?</strong></p>
	<button style="margin: 20px" class="butn" type="button" onclick="javascript:adminEnterPassword();">Admin</button>
	<label for="adminPassword" class="sr-only">Password</label>
  	<div id='adminpwd'></div>
  	<div id='error_msg' class='text-center'></div>
</body>
</html>